asgiref==3.2.7
beautifulsoup4==4.9.0
certifi==2020.4.5.1
cffi==1.14.0
Django==3.0.7
django-bootstrap-form==3.4
django-bootstrap-modal-forms==1.5.0
django-bootstrap4==1.1.1
django-braces==1.14.0
django-debug-toolbar==2.2
django-forms-bootstrap==3.1.0
django-username-email==2.2.4
django-widget-tweaks==1.4.8
misaka==2.1.1
Pillow==7.1.2
pycparser==2.20
pytz==2019.3
six==1.15.0
soupsieve==2.0
sqlparse==0.3.1
