{% extends "item/item_base.html" %}

{% block item_content %}


    <div class="my-3">

        <div class="mb-4">
    
            <a class="btn btn-primary btn-sm float-right" href="{% url 'item:create-draft' pk=item.pk%}">Create Draft</a>
            <!-- <button class="create-project btn btn-primary btn-sm float-right" type="button" name="button">Create Project</button> -->
         
            <h4>{{ item.name }}</h4>
            
        </div>

        <div>
            <p></p>
            <p>{{ item.name }}</p>
            <p>{{ item.detail }}</p>
            <p>{{ item.owner }}</p>
        </div>

    </div>

{% endblock %}
